@import "./_include-media";
@import "~bulma/bulma.sass";

// <link href="https://fonts.googleapis.com/css?family=Roboto|Muli:300" rel="stylesheet">
// Font-Family: 'Roboto', Serif;
// Font-Size: 46px;
// Font-Family: 'Muli', Sans-Serif;
// Font-Size: 16px;
// Font-Family: 'Slabo 13px', Serif;
// Font-Size: 48px;
// Font-Family: 'Lato', Sans-Serif;
// Font-Size: 16px;
// MIXINS
@mixin modifiers($map, $attribute, $prefix: "-", $separator: "-") {
  @each $key, $value in $map {
    &#{$prefix}#{$key} {
      @if type-of($value) == "map" {
        @include modifiers($value, $attribute, $separator);
      } @else {
        #{$attribute}: $value;
      }
    }
  }
}
@mixin border-radius {
  border-radius: 0.5em;
}
@mixin transition {
  -moz-transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
@mixin hover {
  @include transition;
  @include shadow;
  opacity: 0.85;
}
@mixin shadow {
  -moz-box-shadow: 3px 2px 7px 1px #ccc;
  -webkit-box-shadow: 3px 2px 7px 1px #ccc;
  box-shadow: 3px 2px 7px 1px #ccc;
}

// THEME COLORS
// primary, info, success, warning, danger, light, dark,
$white: #ffffff;
$light-gray: #cbd0d5;
$dark-gray: #4a4a4a;
$black: #000000;
$pink: #f72585;
$purple: #7209b7;
$dark-purple: #560789;
$red: #ff010d;
$green: #01d809;
$baby-blue: #4361ee;
$dark-blue: #3a0ca3;
$light-blue: #4cc9f0;

$colors: (
  "black": $black,
  "dark-gray": $dark-gray,
  "light-gray": $light-gray,
  "white": $white,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "green": $green,
  "baby-blue": $baby-blue,
  "dark-blue": $dark-blue,
  "light-blue": $light-blue,
);

// ELEMENT STYLES RESET
// html {
//   width: 100vw;
//   margin: 0;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }
// *,
// *:before,
// *:after {
//   -webkit-box-sizing: inherit;
//   -moz-box-sizing: inherit;
//   box-sizing: inherit;
// }
body {
  margin: 0;
  font-size: 35px;
  font-family: "Roboto", Serif;
  font-size: 46px;

  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
p,
input,
label,
textarea {
  font-family: "Muli", Sans-Serif;
  font-size: 16px;
  // font-size: 0.75em;
}
input {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02) !important;
  border-radius: 2rem !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", Serif;
}
label,
button {
  font-size: 0.75rem;
}
// button {
//   box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
//     0 0px 0 1px rgba(10, 10, 10, 0.02) !important;
// }
svg {
  width: 60%;

  @include media(">tablet") {
    width: 70%;
  }
}
.navbar svg {
  max-height: 3.5rem;
}
form .field .control input,
textarea {
  border: thin solid $light-gray;
  outline: none;
  transition: 0.5s border ease-in-out;

  @include media(">=tablet") {
    max-width: 450px;
  }

  &:focus {
    border: thin solid $light-blue;
  }

  &:invalid:not(:placeholder-shown):not(focus) {
    border: 1px solid $red;
  }

  &[type="password"]:invalid:focus:not(:placeholder-shown) {
    & ~ .validation-text {
      max-height: 4em;
      margin-top: 2.5em;
    }
  }

  &:valid {
    border: 1px solid $green;
  }
}
// button {
//   @include border-radius;
//   @include transition;

//   padding: 0.5em 1em;
//   cursor: pointer;
//   border-style: none;
//   background: linear-gradient(
//     138deg,
//     $baby-blue,
//     $light-blue,
//     $light-orange,
//     $orange
//   );
//   background-size: 300% 100%;

//   &:hover {
//     @include hover;
//     background-position: 100% 0;
//   }
// }

// // CLASS STYLES
.text {
  @include modifiers($colors, "color");
}
.limit-width {
  max-width: 450px;
}
.gradient {
  background: linear-gradient(138deg, #988cfb 30%, #f97cf0 100%);
}
button.button-blue-gradient,
button.button-purple-gradient {
  color: #ffffff;
  border: none;
  background-size: 300% 100%;
  border-radius: 2rem;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    color: #ffffff;
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  &:focus {
    outline: none;
    color: #ffffff;
  }
  // background: linear-gradient(
  //   138deg,
  //   $light-blue 20%,
  //   $baby-blue 60%,
  //   $dark-blue 100%
  // );
  &.button-blue-gradient {
    background-image: linear-gradient(
      to right,
      $baby-blue,
      $light-blue,
      $light-blue
    );
    // box-shadow: 0 4px 15px 0 change-color($color: $light-blue, $alpha: 0.75);
  }
  &.button-purple-gradient {
    background-image: linear-gradient(
      to right,
      $dark-purple,
      $purple,
      $pink,
      $pink
    );
    // box-shadow: 0 4px 15px 0 change-color($color: $purple, $alpha: 0.75);
  }
}

.box-shadow {
  box-shadow: 0 30px 70px 0 rgba(223, 227, 234, 0.5);
}

.bulma-box-shadow {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
}

// .subtitle {
//   opacity: 0.85;
// }
// .bg-circles {
//   background-image: url("/threeCircles.png");
//   background-repeat: no-repeat;
//   background-position-x: right;
//   background-position-y: bottom;
//   background-size: 150px 150px;
// }
.tablet-fullheight {
  @include media(">tablet") {
    min-height: 100vh;
  }
}
.column-reverse-mobile {
  @include media(">tablet") {
    flex-direction: row;
  }
  flex-direction: column-reverse;
}

.overline {
  line-height: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.column .subtitle {
  @include media(">=tablet") {
    max-width: 400px;
  }
}

// .align-right {
//   text-align: right;
// }

// .m-0 {
//   margin: 0;
// }

// .group {
//   padding: 0.5em 0;

//   @include media(">=tablet") {
//     padding: 0.75em 0;
//   }
// }

// .validation-text {
//   @include transition;

//   font-size: 0.5em;
//   overflow: hidden;
//   max-height: 0;
// }

// .card {
//   @include border-radius;
//   @include shadow;
//   @include transition;

//   background-color: white;
//   flex: 100%;
//   padding: 0.5em;
//   margin: 0.5em auto;
//   width: 90%;

//   @include media(">=tablet") {
//     width: 80%;
//     padding: 1em;
//     margin: 1em auto;
//   }

//   @include media(">=desktop") {
//     width: 70%;
//     max-width: 800px;
//   }
// }

// // FLEXBOX GRID
// .section {
//   // position: absolute;
//   // width: 100%;
//   // top: 0;
//   // left: 0;
//   margin: 1rem;
// }
// .jumbotron {
//   padding: 3rem;
// }
// .container {
//   display: block;

//   @include media(">phone") {
//     display: flex;
//     margin: auto;
//     justify-content: flex-start;
//     flex-wrap: wrap;
//   }

//   .col {
//     flex: 1;
//   }
//   .col-full {
//     width: 100%;
//   }
//   .col-one-quarter {
//     width: 100%;

//     @include media(">=tablet") {
//       width: 24%;
//     }
//   }
//   .col-three-quarters {
//     width: 100%;

//     @include media(">=tablet") {
//       width: 74%;
//     }
//   }
//   .col-half {
//     width: 100%;

//     @include media(">=tablet") {
//       width: 50%;
//     }
//   }

//   .reverse {
//     justify-content: end;
//   }
// }

// // TRANSITION ANIMATION CLASSES
// .fade-enter {
//   opacity: 0.01;
// }
// .fade-enter.fade-enter-active {
//   opacity: 1;
//   transition: opacity 300ms ease-in;
// }
// .fade-exit {
//   opacity: 1;
// }

// .fade-exit.fade-exit-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }

// .transition-group {
//   position: relative;
// }

// .section {
//   // position: absolute;
//   // width: 100%;
//   // top: 0;
//   // left: 0;
// }

// CUSTOM SCROLLBAR
::-webkit-scrollbar {
  width: 13px;
  background-color: $white;
}

// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: $white;
// }

::-webkit-scrollbar-thumb {
  background-color: $pink;
  border-radius: 13px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.8, $pink),
    color-stop(0.2, $purple)
  );
}
